<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="commonHead">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header th:fragment="commonHeader">
        <a class="header-overskrift" href="/">
        <h2>Alpha Solution planning tool </h2>
        </a>
       <a class="logo-Header" href="/">
           <img src="AlphaSolutionLogo.jpg" id="logo" alt="AlphaLogo"/>
       </a>
        <nav class="top-nav">
            <a class="forsideNav" href="/">Forside</a>
            <a class="seeProjectsNav" href="/seeProjects">See projects</a>
            <a class="createProjectNav" href="/createProject">Create new project</a>
        </nav>
    </header>
</body>
</html>