<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
</head>
<body id="createProject">
    <div class="main-wrapper">
        <header th:replace="fragments/header ::commonHeader"></header>
        <div class="content">
            <form action="/createProject" method="POST">

                <input type="number" name="projectId" id="projectId"/>
                <label for="projectId">Skriv ID'et på dit projekt</label>

                <input type="text" name="projectName" id="projectName"/>
                <label for="projectName">Skriv navnet for det projekt du gerne vil lave</label>

                <input type="text" name="projectAssignments" id="projectAssignments"/>
                <label for="projectAssignments">Skriv hvilke opgaver der er i dit projekt</label>

                <input type="text" name="status" id="status"/>
                <label for="projectAssignments">Er projektet aktivt?</label>

                <input type="text" name="startDate" id="startDate"/>
                <label for="startDate">Hvilken dag starter arbejdet på projektet</label>

                <input type="text" name="endDate" id="endDate"/>
                <label for="endDate">Hvornår afsluttes arbejdet på projektet</label>

                <input type="text" name="deadline" id="deadline"/>
                <label for="deadline">Er der en deadline? Hvis ja hvad er datoen?</label>


                <button type="submit">Submit</button>

            </form>

        </div>
        <footer th:replace="fragments/footer :: commonFooter"></footer>
    </div>
</body>
</html>