<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
</head>
<body id="createProject">
<div class="main-wrapper">
    <header th:replace="fragments/header ::commonHeader"></header>
    <div class="content">
        <form action="/changesMadeToProject" method="POST">

            <label>Skriv navnet for det projekt du gerne vil ændre</label><br>
            <input type="text" name="projectName" th:placeholder="${Project.getProjectId()}"/></br>

            <label>Skriv hvilke opgaver der er i dit projekt</label><br>
            <input type="text" name="projectAssignments" th:placeholder="${Project.getProjectAssignments()}"/></br>

            <label>Er projektet aktivt?</label><br>
            <input type="text" name="status" th:placeholder="${Project.getStatus()}"/></br>

            <label>Hvilken dag starter arbejdet på projektet</label><br>
            <input type="text" name="startDate" th:placeholder="${Project.getStartDate()}"/></br>

            <label>Hvornår afsluttes arbejdet på projektet</label><br>
            <input type="text" name="endDate" th:placeholder="${Project.getEndDate()}"/></br>

            <label>Er der en deadline? Hvis ja hvad er datoen?</label><br>
            <input type="text" name="deadline" th:placeholder="${Project.getDeadline()}"/></br>

            <button type="submit">Update</button>
        </form>

    </div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>

</body>
</html>