<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
</head>
<body id="seeProjects">
<header th:replace="fragments/header ::commonHeader"></header>
<div class="main-wrapper">
    <div class="content">
        <table class="projectListe">
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Project Assignments</th>
                <th>Project status</th>
                <th>Project deadline</th>
            </tr>

            <tr th:each="project : ${Projects}">
                <td> <a th:href="'/project/' + ${project.getProjectId}" th:text="${project.getProjectId}"></a></td>
                <td th:text="${project.getProjectName()}"></td>
                <td th:text="${project.getProjectAssignments()}"></td>
                <td th:text="${project.getStatus()}"></td>
                <td th:text="${project.getDeadline()}"></td>
            </tr>
        </table>

    </div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</body>
</html>