<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>test</h1>
<table class="project">
    <tr>
    <th>Project ID</th>
    <th>Project Name</th>
    <th>Project Assignments</th>
    <th>Project status</th>
    <th>Project StartDate</th>
    <th>Project EndDate</th>
    <th>Project Deadline</th>
    </tr>
    <tr th:each="Project : ${Projects}">
        <td th:text="${Project.getProjectId()}"></td>
        <td th:text="${Project.getProjectName()}"></td>
        <td th:text="${Project.getProjectAssignments()}"></td>
        <td th:text="${Project.getStatus()}"></td>
        <td th:text="${Project.getStartDate()}"></td>
        <td th:text="${Project.getEndDate()}"></td>
        <td th:text="${Project.getDeadline()}"></td>

    </tr>
</table>
</body>
</html>